.ToggleList {

  width: 100%;
  max-width: 1000px;
  border: 1px solid transparent;
  border-radius: var(--gap-1);
  display: grid;
  gap: var(--gap-2);
  transition: var(--transition);
  &.active {
    padding-bottom: var(--gap-1);
    border: 1px solid var(--neutral-300);
    button {
      padding: var(--gap-1);
      svg{
        transform: rotate(180deg)
      }
    }
    li {
      animation: fade-in var(--transition) linear;
    }
  }
  &:not(.active) {li {display: none;}}
  button {
    font-weight: 500;
    padding: var(--gap-1) var(--gap-1) var(--gap-1) 0;
    display: flex;
    gap: var(--gap-1);
    align-items: center;
    user-select: none;
    svg {transition: var(--transition);font-size: 22px;}
  }
  li {
    padding: 0 var(--gap-1);
    border-radius: var(--gap-1);
    input {

    }
  }
}