.ShowProjects {
  background-color: #111D1D;
  color: var(--neutral-white);
  position: relative;
  .sct-content {
    position: relative;
    gap: var(--gap-4);
    .sct-header {
      button {
        margin-top: var(--gap-3);
      }
    }
    .two-grid, .three-grid {
      gap: var(--gap-4);
    }
    .featuredHover:hover ~ div .featuredHover, .featuredHover:hover {
      color: var(--neutral-300) !important;
    }
    .two-grid {
      @media (max-width: $phone) {
        gap: var(--gap-2);
      }
      &.small-header {display: flex; justify-content:space-between;}
      .image {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:nth-child(1) {
            height: 100%;
            position: relative;
            max-height: 350px;
          }
          &:nth-child(2), &:nth-child(3) {
            z-index: 1;
            bottom: -40px;
            left: 0px;
            width: 50%;
            height: 100px;
            @media(max-width: 500px) {height: 70px;}
          }
          &:nth-child(3) {
            left: 50%;
            width: 30%;
            border-radius: 0 5px 5px 0;
          }
        }
      }
      .p-2 {
        position: relative;
        @media (max-width: $phone) {
          margin-top: 40px;
        }
        @media(min-width: $phone) {padding-bottom: var(--gap-4);}
        a {
          display: grid;
          gap: 8px;
        }
        h5 {color: var(--orange-100);}
        p {z-index: 2;}
        svg {
          position: absolute;
          z-index: 1;
          bottom: 0px;right: 0px;
          transform: translate(30%, 80%);
          width: 100px;
        }
      }
    }
    .three-grid {
      margin-top: var(--gap-4);
      @media (min-width: $phone) {
      }
    }
  }
  
  &.theme-teal-300 {
    .sct-content .three-grid .ProjectPreview .image >.css-hexagon {background-color: var(--teal-300);}
  }
}