$phone: 820px;
$tablet: 1200px;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --max-width-background: 2000px;
  --max-width: 1650px;
  --border-radius: 10px;

  /// # Gaps
  --gap-1: 1rem;
  --gap-2: 1.5rem;
  --gap-3: 2rem;
  --gap-4: 4rem;
  --gap-sct: 10rem;
  --gap-sides: 15vw;
  --transition: .25s;

  /// # Colors
  /// Teal
  --teal-100: #B6FCD1;
  --teal-200: #137C7D;
  --teal-300: #243333;
  --teal-400: #111D1D;
  

  /// Orange
  --orange-100: #F0B28C;
  --orange-200: #E09263;

  /// Error
  --error-100: #F9DBDB;
  --error-200: #D53D3D;

  /// warning
  --warning-100: #FFF4D8;
  --warning-200: #E6B84E;

  /// Success
  --success-100: #BDD8B1;
  --success-200: #84B36F;

  /// Info
  --info-100: #C5DFEF;
  --info-200: #4C8EB5;

  /// Neutral
  --neutral-white: #FFFFFF;
  --neutral-100: #f8f8f8;
  --neutral-200: #F1EBE4;
  --neutral-300: #D9D1C7;
  --neutral-400: #7F7A75;
  --neutral-500: #161616;
  --neutral-black: #000000;

  /// Gradients
  --gradient-gold:linear-gradient(89.9deg, #8D7F61 -421.25%, #F1DCAD -306.61%, #8E7B53 -219.13%, #E5D9A9 -131.62%, #8A724C -46.08%, #E5D9A9 48.26%, #8E7B53 134.06%, #F1DCAD 234.44%, #8D7F61 335.67%);

  /// # Fonts
  /// H1 Headers
  --h1-1-size: clamp(40px, 2.5vw + 1rem, 128px);
  --h1-1-hgt: clamp(125%, 8vw, 100%);
  --h1-1-wgt: 200;

  /// Other Headers
  --h2-1-size: clamp(24px, 2.5vw + 1px, 48px);
  --h2-1-hgt: clamp(110%, 3.2vw + 1%, 130%);
  --h2-1-wgt: 400;

  --h3-1-size: clamp(20px, 2vw + 1px, 32px);
  --h3-1-hgt: clamp(100%, 2.5vw, 130%);
  --h3-1-wgt: 400;

  --h4-1-size: clamp(16px, 2vw + 1px, 32px);
  --h4-1-hgt: clamp(100%, 2.5vw, 130%);
  --h4-1-wgt: 700;

  --h5-1-size: clamp(16px, 1.7vw + 1px, 18px);
  --h5-1-hgt: clamp(110%, 4vw, 135%);
  --h5-1-wgt: 700;

  --h6-1-size: clamp(14px, 2vw + .25px, 22px);
  --h6-1-hgt: clamp(135%, 2vw, 135%);
  --h6-1-wgt: 600;
  --h6-1-spc: clamp(3px, .5vw + 1px, 12px);

  --h6-2-size: clamp(16px, 2vw + .25rem, 18px);
  --h6-2-hgt: clamp(135%, 2vw, 135%);
  --h6-2-wgt: 400;
  --h6-2-spc: clamp(0px, .5vw +1px, 0px);

  /// P
  --p-1-size: clamp(16px, 1.7vw + 1px, 20px);
  --p-1-hgt: clamp(120%, 2.5vw + .25rem, 145%);
  --p-1-wgt: 400;
  --p-2-size: clamp(14px, 2.5vw + .25rem, 16px);
  --p-2-hgt: clamp(100%, 2.5vw + .25rem, 130%);
  --p-2-wgt: 400;

  /// Label 
  --label-size: clamp(14px, 2.5vw + .25rem, 16px);
  --label-hgt: clamp(175%, 2.5vw + .25rem, 175%);
  --label-wgt: 400;

  /// button
  --button-1-size: clamp(16px, 2vw + .25rem, 18px);
  --button-1-hgt: clamp(100%, 2vw  + .25rem, 100%);
  --button-1-wgt: 600;

  --link-1-size:clamp(16px, 2vw + .25rem, 18px);
  --link-1-hgt: clamp(100%, 2vw  + .25rem, 100%);
  --link-1-wgt: 500;
}

@media (max-width: 1200px) {
  :root {
    --gap-sides: var(--gap-4);
  }
}

@media (max-width: $phone) {
  :root {
    --gap-1: .5rem;
    --gap-2: 1rem;
    --gap-3: 1.5rem;
    --gap-4: 2rem;
    --gap-sct: 4rem;
    --gap-sides: var(--gap-4);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/// # Fonts
h1, h2, h3, h4, h5, h6, p, span, ul, li, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  transition: var(--transition);
  text-decoration: none;
  color: inherit;
  font-size: var(--link-1-size);
  line-height: var(--link-1-hgt);
  font-weight: var(--link-1-wgt);
  &:hover {
    color: var(--neutral-300);
  }
  &.v2 {
    font-size: var(--button-1-size);
    line-height: var(--button-1-hgt);
    font-weight: var(--button-1-wgt);
  }
  &.right {margin-left: auto;}
  &.left { margin-right: auto;}
}
p {
  font-size: var(--p-1-size);
  line-height: var(--p-1-hgt);
  font-weight: var(--p-1-wgt);
  &.v2 {
    font-size: var(--p-2-size);
    line-height: var(--p-2-hgt);
    font-weight: var(--p-2-wgt);
  }
  &.label {
    font-size: var(--label-size);
    line-height: var(--label-hgt);
    font-weight: var(--label-wgt);
    text-transform: uppercase;
  }
}
h1 {
  font-size: var(--h1-1-size);
  line-height: var(--h1-1-hgt);
  font-weight: var(--h1-1-wgt);
}
h2 {
  font-size: var(--h2-1-size);
  line-height: var(--h2-1-hgt);
  font-weight: var(--h2-1-wgt);
}
h3 {
  font-size: var(--h3-1-size);
  line-height: var(--h3-1-hgt);
  font-weight: var(--h3-1-wgt);
}
h4 {
  font-size: var(--h4-1-size);
  line-height: var(--h4-1-hgt);
  font-weight: var(--h4-1-wgt);
}
h5 {
  font-size: var(--h5-1-size);
  line-height: var(--h5-1-hgt);
  font-weight: var(--h5-1-wgt);
  text-transform: uppercase;
}
h6 {
  font-size: var(--h6-1-size);
  line-height: var(--h6-1-hgt);
  font-weight: var(--h6-1-wgt);
  letter-spacing: var(--h6-1-spc);
  text-transform: uppercase;
  &.v2 {
    font-size: var(--h6-2-size);
    line-height: var(--h6-2-hgt);
    font-weight: var(--h6-2-wgt);
    letter-spacing: var(--h6-2-spc);
  }
}

/// # Themes
.theme-light {
  background-color: var(--neutral-white);
  color: var(--neutral-500);
}
.theme-dark{
  background-color: var(--neutral-500);
  color: var(--neutral-white);
}
.theme-darkgreen {
  background-color: var(--seagreen-500);
  color: var(--neutral-100)
}

/// # Buttons
button {
  &.custom {
    all: unset;
    transition: var(--transition);
    cursor: pointer;
  }
}
button:not(.custom):not(.firebaseui-button) {
  --btn-color-1: var(--teal-200);
  --btn-color-2: var(--neutral-white);
  color: var(--btn-color-2);
  background-color: var(--btn-color-1);
  z-index: 2;
  position: relative;
  font-size: var(--button-1-size);
  line-height: var(--button-1-hgt);
  font-weight: var(--button-1-wgt);
  padding: 14px 50px;
  transition: var(--transition);
  border: 2px solid transparent;
  border-radius: 40px;
  cursor: pointer;
  &:hover {
    border-color: var(--btn-color-1);
    background-color: transparent;
    color: var(--btn-color-1);
  }
  &.orange {
    --btn-color-1: var(--orange-100);
    --btn-color-2: var(--neutral-black);
  }
  &.white {
    --btn-color-1: var(--neutral-white);
    --btn-color-2: var(--neutral-black);
    background: transparent;
    color: var(--btn-color-1);
    border-color: var(--btn-color-1);
    &:hover {
      background: var(--btn-color-1);
      color: var(--btn-color-2);
    }
  }
  &.gold {
    --btn-color-1: var(--neutral-white);
    --btn-color-2: var(--neutral-black);
    transition: 0s;
    background: var(--gradient-gold);
    &:hover {
      background: transparent;
    }
  }
}

/// # Inputs 
input, textarea {
  font-size: var(--fnt-h4);
  padding: 8px 12px;
  color: black;
  width: 100%;
  max-width: 1000px;
  resize: none;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
  &.inputError {
    border-color: var(--error-200) !important;
    background-color: var(--error-100) !important;
  }

  &:focus {
    outline: none;
  }
}
textarea {
  border-radius: 12px;
  background-color: var(--neutral-100);
  color: var(--neutral-500) !important;
  padding: 16px 12px;
  font-size: 18px;
  max-height: 152px;
  line-height: 23px;
  overflow-y: scroll;
  &::placeholder {
    font-size: 16px;
    font-weight: 500;
  }
  &.large {
    max-height: 304px;
  }
}
.multi-input {
  display: grid;
  gap: var(--gap-1);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  @media (max-width: 300px) {
    grid-template-columns: 1fr;
  }
}
.two-input {
  display: grid;
  gap: var(--gap-1);
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: $phone) {
    grid-template-columns: 1fr;
    gap: var(--gap-2);
  }
}
.input-group {
  display: grid;
  gap: calc(var(--gap-1) / 2);
}
.cbx {
  display: grid;
  gap: var(--gap-1);
  grid-template-columns: min-content 1fr;
  input[type="checkbox"] {
    border-radius: 8px;
    position: relative;
    appearance: none; /* Reset default styles */
    -webkit-appearance: none; /* For older versions of WebKit browsers */
    /* Your custom styles */
    height: 24px;
    outline: none; /* Remove default focus styles */
    transition: background-color var(--transition);
  }

  /* Style the checkbox when checked */
  input[type="checkbox"]:checked {
    color: #fff; /* Change text color when checked */
  }
  /* Style the checkmark pseudo-element */
  input[type="checkbox"]:before {
    content: '\2713'; /* Unicode checkmark symbol */
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    display: none;
  }
  input[type="checkbox"]:checked:before {
    display: block;
  }
}
input, textarea {
  font-size: var(--fnt-p);
}
$primary: var(--seagreen-400);
$secondary: var(--neutral-300);
$white: rgba(0, 0, 0, 0.8);
$gray: #b6b6b6;
.form__group {
  position: relative;
  display: inline-block;
  width: 100%;
}
.text-input {
  .error {
    color: var(--error-200);
    font-size: 14px;
  }
  input {
    border-radius: 12px;
    background-color: var(--neutral-100);
    color: var(--neutral-500);
    padding: 16px 12px;
    font-size: 18px;
  }
}

.form__field {
  font-family: inherit;
  padding: 10px 25px;
  width: 100%;
  border: 0;
  border: 1px solid $gray;
  border-radius: 2px;
  outline: 0;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  background: transparent;
  transition: border-color 0.15s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 50%;
    transform: translateY(-50%);
    color: var(--neutral-500);
    opacity: .6;
  }
}

.form__label {
  color: var(--neutral-500) !important;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 15px;
  display: block;
  transition: 0.15s;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--neutral-100);
  padding: 0 5px;
  border-radius: 20px;
  pointer-events: none;
}

.form__field:focus {
  ~ .form__label {
    transform: translateY(0%);
    position: absolute;
    top: -8px ;
    display: block;
    transition: 0.15s;
    font-size: 12px;
    font-weight: 400;
    color: var(--teal-200);
    opacity: 1;   
    
  }
  border-color: var(--teal-200);
  //border-width: 3px;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.15s;
  font-size: 12px;
  color: $gray;
  opacity: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

/// # Image Bahvior
.img {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: var(--transition);
    object-fit: cover;
  }
  &:after {
    position: absolute;
    width: 100%;height:100%;
    background-color: black;
    transition: var(--transition);
    content: '';
    opacity: .25;
    left: 0px;top:0px;
  }
}

/// # Main Bodies
div, section, input, textarea {box-sizing: border-box;}
html, body, main {margin: 0; padding: 0;overscroll-behavior: none;}
main {overflow: hidden;}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: grid;
  max-height: 100vh;
  max-height: 100svh;
  position: sticky;
  &.notSmooth {
    scroll-behavior: auto;
  }
}
body {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  main {
    width: 100%;
    display: grid;
    .content-wrapper {
      display: grid;
      width: 100%;
      max-width: 1280px;
      place-items: center;
      margin: 0 auto;
    }
  }
  .content-wrapper {
    display: grid;
    gap: var(--gap-3);
    padding: var(--gap-3) var(--gap-2) 0 var(--gap-2);
  }
}

/// # Page Layout
.mt {margin-top: var(--gap-1);}
.mb {margin-bottom: var(--gap-1);}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-2);
  @media (max-width: $phone) {
    grid-template-columns: 1fr;
  }
}
.flex {
  display: flex;
  gap: var(--gap-1);
  flex-wrap: wrap;
  align-items: center;
}
.gap-1 {gap: var(--gap-1);}
.gap-2 {gap: var(--gap-2);}
.gap-3 {gap: var(--gap-3);}
.gap-4 {gap: var(--gap-4);}
.a-orange-100 {
  color: var(--orange-100);
  font-weight: 600;
  display: flex;
  gap: var(--gap-1);
  align-items: center;
  &:hover {color: var(--orange-200);}
}
.mobile {
  @media(min-width: $phone) {display: none;}
}
.desktop {
  @media(max-width: $phone) {display: none;}
}
.sct-header {
  gap: var(--gap-1);
  h5 {
    text-transform: uppercase;
    color: var(--orange-100);
  }
  p {margin-top: var(--gap-1);}
}
.center {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  gap: var(--gap-2);
}
.fill-teal-300 {fill: var(--teal-300);}
.fill-teal-400 {fill: var(--teal-400);}
main {
  >section, >div>section {
    padding: var(--gap-sct) 0;
    width: 100vw;
    &.theme-teal-300 {
      background-color: var(--teal-300);
    }
    .drips {
      position: absolute;
      bottom: 0px;
      right: -70px;
      width: 55%;
      height: auto;
      min-width: 700px;
      transform: translate(0, calc(89%));
    }
    &.no-drips {.drips {display: none;}}
    &.theme-divider {
      position: relative;
      padding: 0;
      .bk {
        position: absolute;
        height: 50%;width: 100%;
        &:nth-child(1) {top: 0px;}
        &:nth-child(2) {bottom: 0px;}
      }
    }
    >.background {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;left: 0;
      overflow: hidden;
      >svg {
        position: absolute;
      }
      &.DottedLines {
        svg {
          &:nth-child(1) {
            left: 50%;top: 0;
            transform: translate(0%, -20%);
          }
          &:nth-child(2) {
            left: 0;
            top: -50%;
          }
          &:nth-child(3) {
            transform: translate(0, 50%);
            right: 0;
          }
        }
      }
    }
    .sct-content {
      z-index: 1;
      max-width: var(--max-width);
      padding: 0 var(--gap-sides);
      margin: 0 auto;
      display: grid;
      gap: var(--gap-2);

      &>div {height: min-content;}
      &>div>div {
        height: min-content;
        &.space-top {
          margin-top: var(--gap-3);
        }
      }
      .row {
        display: flex;
        gap: var(--gap-1);
        flex-wrap: wrap;
      }
      .center {
        display: grid;
        place-items: center;
        align-items: center;
        text-align: center;
        gap: var(--gap-2);
      }
      .sct-header {
        gap: var(--gap-1);
        h5 {
          text-transform: uppercase;
          color: var(--orange-100);
        }
        p {margin-top: var(--gap-1);}
      }
      .four-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap-3);
        &>div {display: grid;gap: var(--gap-1);}
        .header {place-items: normal;text-align: left;}
        @media (max-width: 1300px) {grid-template-columns: repeat(2, 1fr);}
        @media (max-width: $phone) {grid-template-columns: repeat(1, 1fr);}
      }
      .three-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-3);
        &>div {display: grid;gap: var(--gap-1);}
        .header {place-items: normal;text-align: left;}
        @media (max-width: $phone) {grid-template-columns: repeat(1, 1fr);}
      }
      .two-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-3);
        &>div {display: grid;gap: var(--gap-1);}
        .header {place-items: normal;text-align: left;}
        
        &.push {
          @media (min-width: $phone) {
            grid-template-columns: 2fr 1fr;
            &.space-top {
              &>div:nth-child(1) {
                margin-top: var(--gap-3);
              }
            }
          }
        }
        &.pull {
          @media (min-width: $phone) {
            grid-template-columns: 1fr 2fr;
            &.space-top {
              &>div:nth-child(2) {
                margin-top: var(--gap-3);
              }
            }
          }
        }
        @media (max-width: $phone) {grid-template-columns: repeat(1, 1fr);}
      }
    }
    .cta-backdrop {
      z-index: 0;
      position: absolute;
      margin-top: calc(var(--gap-sct) * -1);
      height: 400px;
      width: 100%;
      background-color: var(--neutral-500);
    }
  }
  >div, >footer {transition: var(--transition);}
  &.nav-active {
    >div:not(.Popup), >footer {filter: blur(3px);}
  }
}
.grid {
  display: grid;
  gap: var(--gap-3);
}
.flare {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  opacity: .2;
  filter: blur(100px);
  animation: flare 25s linear infinite;
}
.Socials {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-1);
  a {
    display: grid;
    place-items: center;
    color: var(--neutral-100);
    &:hover {
      color: var(--neutral-300);
    }
  }
  svg {
    width: clamp(2rem, 2vw - .5rem, 3rem);
    height: clamp(2rem, 2vw - .5rem, 3rem);
  }
}
.mobile {
  @media (min-width: $phone) {
    display: none;
  }
}
.Brand {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min-content;
  gap: var(--gap-1);
  align-items: center;
  h2 {
    font-size: 28px;
    line-height: 105%;
  }
  .Logo {
    svg {
      width: 100px;
    }
  }
}
.Hexcon {
  display: grid;
  place-items: center;
  position: relative;
  svg:not(.dots) {
    width: 100%;
    height: auto;
    grid-area: 1 / 1 / span 1 / span 1;
  }
  img {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 50%;
    margin-top: -7%;
    height: auto;
  }
  .dots {
    position: absolute;
    top: 50%;
    right: -75%;
    width: 50%;
    @media (max-width: $phone) {display: none;}
  }
  .dots-sm {
    display: none;
    @media (max-width: $phone) {display: block;}
    @media (min-width: 420px) {right: -60%;}
    @media (min-width: 350px) {right: -70%;}
  }
}

.css-hexagon {
  aspect-ratio: 1.1/1;
  width: 100px;
  height: auto;
  background-color: #4CAF50;
  clip-path: polygon(25% 0%,75% 0%,100% 50%,75% 100%, 25% 100%, 0% 50%);
  &.tilt {aspect-ratio: 1/1.1;clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%, 0% 25%);}
}
.hexagon-image {
  width: 100%;
  aspect-ratio: 1.1/1;
  height: auto;
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--orange-100);
  clip-path: polygon(25% 0%,75% 0%,100% 50%,75% 100%, 25% 100%, 0% 50%);
  @media(max-width: $phone) {&:not(.p-2) {margin-top: var(--gap-4);}}
  .image {
    aspect-ratio: 1.1/1;
    height: 95%;width: 95%;
    clip-path: polygon(25% 0%,75% 0%,100% 50%,75% 100%, 25% 100%, 0% 50%);
    img {
      background: black;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      object-fit: cover;
    }
  }
  &.tilt {
    aspect-ratio: 1/1.1;
    clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%, 0% 25%);
    .image {
      aspect-ratio: 1/1.1;
      clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%, 0% 25%);
    }
  }
}
@keyframes fade-in {
  0% {opacity: 0;display: block;}
  100% {opacity: 1;display: block;}
}
@keyframes fade-out {
  0% {opacity: 1;}
  99% {opacity: 0;}
  100% {opacity: 0;}
}